name: build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - name: Install dependencies
        run: dart pub get
      - name: Check formatting
        run: dart format  --set-exit-if-changed .
      - name: Run linter
        run: dart analyze
      - name: Run tests
        run: dart test
